body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 1000px;
    margin: auto;
    background-color:thistle;
 }
 h1 { 
    color:black;
    margin-left: 80px;
    text-align:center;
 }
 nav{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#d11352 ;
    height:45px;
    padding-bottom: 22px;
 }
 nav ul {
    list-style: none; 
    padding-top: -10px; 
 }
 nav li {
    display: inline;
 }
 nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 20px;
 }
 nav a:hover{
    color: black;
 }
 div {
    float: left;
    width: 100%;
    margin-right: 5%;
    margin-bottom: 20px;
 }
 
 footer {
    clear: both;
    background-color:#d11352;
    height: 30px;
    text-align: center;
 }
 footer a{
    text-decoration: none;
    color:black;
    margin-left: 20px;
 }
footer a:hover{
   color: black;
}

 table {
   width: 100%;
    }
 .image_right{
    float:right;
    margin-left: 10px;
    margin-bottom: 10px;
 }
 .image_left{
    float:left;
    margin-right: 10px;
    margin-bottom: 10px;
 }